<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>{% block title %}Li Bia Gourmand{% endblock %}</title>

{% include 'headerScript.html.twig' %}
</head>

<body>
{% include 'header.html.twig' %}
{% include 'main.html.twig' %}
{% include 'footer.html.twig' %}
{% include 'footerScript.html.twig' %}
</body>

</html>